.form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

#form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#searchInput {
    width: 75%;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.button-wrapper {
    margin: 10px 0px;
}

#searchButton {
    width: 110px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #464646;
    box-shadow: 1px 3px 5px lightgrey;
}

#clearButton {
    width: 110px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #cc3838;
    box-shadow: 1px 3px 5px lightgrey;
}

.imagelist-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.imagelist-wrapper>.card {
    margin: 20px;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 3px 5px 8px grey;
}